extends layout

block content
  
  .container-fluid
  
  .row
    .col-xs-12
      h1= title
  
  if tests.length == 0
    .row
      .col-xs-10.col-xs-offset-1
          h3 No tests are in progress
  else      
    .row
      .col-xs-10.col-xs-offset-1
      
        .panel.panel-default
          .panel-body
            
            if tests.length == 1
              h4 There is one test in progress at #{tests[0].Location.name}
              
            else
              h4 Please choose a test
              select.form-control.input-lg(name='active_tests')
                each test in tests
                  option(value=test.id) #{test.name} (#{test.Location.name})
            
            .form-group.text-left
              label(for='tasters') Please select your name
              select#tasters.form-control.input-lg(name='tasters')
                each taster in tasters
                  option(value=taster.id)
                    = taster.name

                
    .row
      .col-xs-6.col-xs-offset-3
        p When you're ready, press the button
        a.btn.btn-lg.btn-info.btn-block(role='button', name='start_test') Start test
