extends layout

block content

  .container-fluid
  
    .row
      .col-xs-10.col-xs-offset-1
        h1
          =title
          
    .row
      .col-xs-10.col-xs-offset-1
        h3
          | Held at 
          =test.Location.name
          
    .row
      .col-xs-10.col-xs-offset-1
      
        .form-group.text-left
          .btn-group.btn-group-justified(role='group')
            .btn-group(role='group')
              button#sample_1.btn.btn-lg.btn-default.option-button
                h2.no-margin
                  span.label.label-no-colour
                    if test.sample_1_identifier
                      =test.sample_1_identifier
                    else
                      | &nbsp;&nbsp;
            .btn-group(role='group')
              button#sample_2.btn.btn-lg.btn-default.option-button
                h2.no-margin
                  span.label.label-no-colour
                    if test.sample_2_identifier
                      =test.sample_2_identifier
                    else
                      | &nbsp;&nbsp;
            .btn-group(role='group')
              button#sample_3.btn.btn-lg.btn-default.option-button
                h2.no-margin
                  span.label.label-no-colour
                    if test.sample_3_identifier
                      =test.sample_3_identifier
                    else
                      | &nbsp;&nbsp;
                      
    .row
      .col-sm-3.col-xs-offset-1.col-xs-5
        a.btn.btn-lg.btn-default.btn-block.option-button(href='/tests/', role='button', name='back') Back
      .col-sm-3.col-sm-offset-4.col-xs-5
        if test.in_progress
          a#start_stop_button.btn.btn-lg.btn-warning.btn-block.option-button(href='/tests/#{test.id}/stop', role='button', name='stop') Stop testing
        else
          a#start_stop_button.btn.btn-lg.btn-primary.btn-block.option-button(href='/tests/#{test.id}/start', role='button', name='start') Start testing

    if test.in_progress
      .row
        .col-xs-5.col-xs-offset-6
          p Testing for 
            =moment(test.updatedAt).fromNow(true)
        
block body_end
  script(type='text/javascript', src='/javascripts/triangle.js')
  script(type='text/javascript').
    $("#sample_" + #{test.correct_sample}).addClass("active");
    var colours = ["#{test.SampleColour.colour1}", "#{test.SampleColour.colour2}", "#{test.SampleColour.colour3}"];
    display_choices("button.option-button",colours);
